$white: #edebe0
$black: #d9e5ff
$pushed: #6261b9


$whiteHeight: 68px
$blackHeight: 35px

.keyboard
  position: relative
  width: 280px
  height: 70px

  &__input
    width: 17px
    height: 35px
    padding: 0
    background: transparent
    border-style: none
    font-size: 10px
    text-align: center
    color: white

    &--white
      margin: 35px 0 0

    &--black
      margin: 0

  &__key
    position: absolute
    width: 17px
    border: solid 1px black

    &--white
      height: #{$whiteHeight}
      background-color: #{$white}

    &--black
      z-index: 5
      height: #{$blackHeight}
      background-color: #{$black}

    &--0
      left: 0

    &--1
      left: 10px

    &--2
      left: 20px

    &--3
      left: 30px

    &--4
      left: 40px

    &--5
      left: 60px

    &--6
      left: 70px

    &--7
      left: 80px

    &--8
      left: 90px

    &--9
      left: 100px

    &--10
      left: 110px

    &--11
      left: 120px

    &--12
      left: 140px

    &--13
      left: 150px

    &--14
      left: 160px

    &--15
      left: 170px

    &--16
      left: 180px

    &--17
      left: 200px

    &--18
      left: 210px

    &--19
      left: 220px

    &--20
      left: 230px

    &--21
      left: 240px

    &--22
      left: 250px

    &--23
      left: 260px
