@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background: #dfde81;
  color: #3d380e;
  font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

.keyboard {
  position: relative;
  width: 280px;
  height: 70px; }
  .keyboard__input {
    width: 17px;
    height: 35px;
    padding: 0;
    background: transparent;
    border-style: none;
    font-size: 10px;
    text-align: center;
    color: olivedrab; }
    .keyboard__input--white {
      margin: 35px 0 0; }
    .keyboard__input--black {
      margin: 0; }
  .keyboard__key {
    position: absolute;
    width: 17px;
    border: solid 1px black; }
    .keyboard__key--white {
      height: 68px;
      background-color: #edebe0; }
    .keyboard__key--black {
      z-index: 5;
      height: 35px;
      background-color: #d9e5ff; }
    .keyboard__key--pushed {
      background-color: #6261b9; }
    .keyboard__key--0 {
      left: 0; }
    .keyboard__key--1 {
      left: 10px; }
    .keyboard__key--2 {
      left: 20px; }
    .keyboard__key--3 {
      left: 30px; }
    .keyboard__key--4 {
      left: 40px; }
    .keyboard__key--5 {
      left: 60px; }
    .keyboard__key--6 {
      left: 70px; }
    .keyboard__key--7 {
      left: 80px; }
    .keyboard__key--8 {
      left: 90px; }
    .keyboard__key--9 {
      left: 100px; }
    .keyboard__key--10 {
      left: 110px; }
    .keyboard__key--11 {
      left: 120px; }
    .keyboard__key--12 {
      left: 140px; }
    .keyboard__key--13 {
      left: 150px; }
    .keyboard__key--14 {
      left: 160px; }
    .keyboard__key--15 {
      left: 170px; }
    .keyboard__key--16 {
      left: 180px; }
    .keyboard__key--17 {
      left: 200px; }
    .keyboard__key--18 {
      left: 210px; }
    .keyboard__key--19 {
      left: 220px; }
    .keyboard__key--20 {
      left: 230px; }
    .keyboard__key--21 {
      left: 240px; }
    .keyboard__key--22 {
      left: 250px; }
    .keyboard__key--23 {
      left: 260px; }
